.post {
  padding: 2.5rem;
  background-color: var(--gray-200);
  border-radius: 8px;
}

.post + .post {
  margin-top: 2rem;
}

.post > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post > header time {
  font-size: 0.875rem;
  color: var(--gray-500);
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.authorInfo {
  display: flex;
  flex-direction: column;
}

.authorInfo strong {
  line-height: 1.6;
}

.authorInfo span {
  font-size: 0.875rem;
  color: var(--gray-500);
  line-height: 1.6;
}

.content {
  margin-top: 1.5rem;
  color: var(--gray-600);
  line-height: 1.6;
}

.content p {
  margin-top: 1rem;
}

.content a {
  font-weight: 700;
  color: var(--green-light);
}

.commentForm {
  width: 100%;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
  border-top: 1px solid var(--gray-300);
}

.commentForm strong {
  line-height: 1.6;
  color: var(--gray-700);
}

.commentForm textarea {
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  height: 6rem;
  background-color: var(--gray);
  color: var(--gray-700);
  border: 0;
  border-radius: 5px;
  resize: none;
  line-height: 1.4;
  transition: all 0.2s;
}

.commentForm textarea:focus {
  outline: 1px solid var(--green);
}

.commentForm button[type="submit"] {
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  background: var(--green);
  color: var(--white);
  font-weight: 700;
  border-radius: 5px;
  border: 0;
  transition: background 0.2s;
}

.commentForm button[type="submit"]:not(:disabled):hover {
  background: var(--green-light);
}

.commentForm button[type="submit"]:disabled {
  cursor: not-allowed;
  filter: brightness(0.6);
}

.commentList {
  margin-top: 2rem;
}
